{% extends "management/base.html" %}
{% block content %}
        <form method = "POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottm mb-4">Edit Student Details</legend>
                <div class="overflow-auto mh-480px">
                    {{ form }}
                </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Save</button>
            </div>
        </form>
{% endblock content %}