{% extends "management/base.html" %} 
{% block content %}
<div class=w-75>
    <div class="float-right">
        <a href="{% url 'management-students-edit-details' studentid=student.person_id %}" title="Edit" class="no-underline-href" >
            <i class="fa fa-edit"></i>
        </a>
        <a href="{% url 'management-students-delete-student' studentid=student.person_id %}" title="Delete" class="no-underline-href" >
            <i class="fa fa-trash"></i>
        </a>
    </div>
    <h4>Student Details</h4>
    <h5>Personal Details</h5>
    <div class="mb-2 underlined-rows">
        <div class="row">
            <div class="col-6">First Name</div>
            <div class="col-6">{{student.first_name}}</div>
        </div>
        <div class="row">
            <div class="col-6">Last Name</div>
            <div class="col-6">{{student.last_name}}</div>
        </div>
        <div class="row">
            <div class="col-6">Date of Birth</div>
            <div class="col-6">{{student.date_of_birth}}</div>
        </div>
        <div class="row">
            <div class="col-6">Email</div>
            <div class="col-6">{{student.email}}</div>
        </div>
        <div class="row">
            <div class="col-6">Phone</div>
            <div class="col-6">{{student.phone}}</div>
        </div>
        <div class="row">
            <div class="col-6">Address</div>
            <div class="col-6">{{student.address}}</div>
        </div>
    </div>

    <h5>Degree</h5>
    <div class="mb-2 underlined-rows">
        <div class="row">
            <div class="col-6">Degree</div>
            <div class="col-6">{{student.course}}</div>
        </div>
        <div class="row">
            <div class="col-6">Start Date</div>
            <div class="col-6">{{student.start_date}}</div>
        </div>
        <div class="row">
            <div class="col-6">End Date</div>
            <div class="col-6">{{student.end_date}}</div>
        </div>
    </div>
</div>

{% endblock content %}