{% extends "management/base.html" %} 
{% block content %}
<div class=w-75>
    <div class="float-right">
        <a href="{% url 'management-courses-edit-details' course_id=course.course_id %}" title="Edit" class="no-underline-href" >
            <i class="fa fa-edit"></i>
        </a>
        <a href="{% url 'management-courses-delete-course' course_id=course.course_id %}" title="Delete" class="no-underline-href" >
            <i class="fa fa-trash"></i>
        </a>
    </div>
    <h4>Course Details</h4>
    <div class="mb-2 underlined-rows">
        <div class="row">
            <div class="col-6">Course Name</div>
            <div class="col-6">{{course.course_name}}</div>
        </div>
        <div class="row">
            <div class="col-6">Course Level</div>
            <div class="col-6">{{course.course_level}}</div>
        </div>
        <div class="row">
            <div class="col-6">Course Duration (in months)</div>
            <div class="col-6">{{course.course_duration_in_months}}</div>
        </div>
        <div class="row">
            <div class="col-6">Course Mode</div>
            <div class="col-6">{{course.course_mode}}</div>
        </div>
        <div class="row">
            <div class="col-6">Course Credits</div>
            <div class="col-6">{{course.course_credits}}</div>
        </div>
        <div class="row">
            <div class="col-6">Course Fees</div>
            <div class="col-6">{{course.course_fees}}</div>
        </div>
    </div>

{% endblock content %}