{% extends "management/base.html" %}
{% block content %}
<h3 class="mb-4">Summary Page</h3>

    {% for course_full_name, students_list in summary_dict.items %}
    <div class="mb-4 border-top">
        <div class="mt-2">
            <h5>{{course_full_name}}</h5>
        </div>
        <div class="row font-weight-bold">
            <div class="col-3">First Name</div>
            <div class="col-3">Last Name</div>
            <div class="col-4">Email</div>
            <div class="col-2"></div>
        </div>
        {% for student in students_list %}
        <div class="row">
            <div class="col-3">
                {{student.first_name}}
            </div>
            <div class="col-3">{{student.last_name}}</div>
            <div class="col-4">{{student.email}}</div>
            <div class="col-2">
                <a href="{% url 'management-students-student-details' studentid=student.person_id %}" class="float-right"><i class="fa fa-search"></i></a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}

{% endblock content %}